@media (max-width: 1430px) {
    .wrapper{
        flex-wrap: wrap;
        margin: 5vh auto;
    }
    .container1{
        width: 60%;
    }
    .container2{
        width: 75%;
    }
}
@media (max-width: 991px) {

}