*,*:before,*:after {
    box-sizing: border-box;
}
@font-face {
    font-family: "YS_Text";
    font-style: normal;
    font-display: swap;
    src:url("https://yastatic.net/s3/home/fonts/ys/4/text-black.woff");
    font-weight: 900;
}
@font-face {
    font-family: "YS_Text";
    font-style: normal;
    src:url("https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff");
    font-weight: 500;
}
@font-face {
    font-family: "YS_Text";
    font-style: normal;
    src:url("https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff");
    font-weight: 400;
}
body{
    background-color: #FFFFFF;
    font-family: "YS_Text", sans-serif;
    margin-left: 262px;
    /* display: flex;
    justify-content: center; */
}
.container{
    max-width: 1440px;
    width: 100%;
    /* margin-left: 262px; */
    max-height: 1204px;
}
.logo{
    margin-top: 124.94px;
    padding-bottom: 60px;
}
.text_black{
    font-weight: 900;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    position: relative;
    z-index: 2;
}
.text_medium{
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 31px;  
}

.price_499{
    position: relative;
    left: 147px;
    bottom: 715.3px; 
    z-index: 1;
}
.price_3190{
    position: relative;
    left: 100px;
    bottom: 33.3px; 
    bottom: 715.3px;
}
.OG{
    position: relative;
    bottom: 530px;
    left: 80px;
    z-index: 1;
}
.circle{
    position: relative;
    z-index: 2;
    bottom: 689px;
    right: 520px;
}
.club_button{
    width:318px;
    height: 65px;
    padding: 24px, 48px, 24px, 48px;
    border-radius: 36px;
    gap: 4px;
    background: #FFDE40;
    font-weight: 500;
    font-size: 24px;
}
