*,*:before,*:after {
    box-sizing: border-box;
}
@font-face {
    font-family: "YS_Text";
    font-style: normal;
    font-display: swap;
    src:url("https://yastatic.net/s3/home/fonts/ys/4/text-black.woff") format('woff');
    font-weight: 900;
}
@font-face {
    font-family: "YS_Text";
    font-style: normal;
    src:url("https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff") format('woff');
    font-weight: 500;
}
@font-face {
    font-family: "YS_Text";
    font-style: normal;
    src:url("https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff") format('woff');
    font-weight: 400;
}
body{
    background-color: #FFFFFF;
    font-family: "YS_Text", sans-serif;
    /* margin-left: 61.5px; */
    /* display: flex; */
}

.wrapper{
    max-width: 1880px;
    width: 100%;
    max-height: 1800px;
    display: flex;
    flex-basis: content;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    /* position: relative;
    right: 10px; */
    margin-left: 89px;
    padding-bottom: 80px; 
}
.wrapper_2{
    max-width: 1420px;
    width: 100%;
    max-height: 1800px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-left: 262px;
} 
.wrapper_3{
    max-width: 1680px;
    width: 100%;
    max-height: 1800px;
    display: flex;
    flex-basis: content;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px; 
} 
.container1{
    width: 420px;
    position: relative;
    left: 168px;
    bottom: 21px;
}
.container2{
    width: 990px;
}

.logo{
    margin-top: 124.94px;
}
.text_72{
    font-family: YS_Text;
    font-weight: 900;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 62.12px;
    z-index: 1;
    width: fit-content;
    position: relative;
}
.text_56{
    font-family: YS_Text;
    font-size: 56px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: left;
    /* white-space: nowrap; */
}
.text_24{
    font-family: YS_Text;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 29px;  
    /* white-space: nowrap; */
}

.prices{
    position: relative;
    bottom: 33px;
    left: 148px;
}
.OG{
    position: relative;
    top: 45px;
    left: 26.8px;
}
.circle{
    position: absolute;
    z-index: 1;
    bottom: 320px;
}
.club_button{
    width:318px;
    height: 65px;
    padding: 24px, 48px, 24px, 48px;
    border-radius: 36px;
    background: #FFDE40;
    font-weight: 400;
    font-size: 24px;
    float: left;
    border: none;
    margin-top: 1px;
}
.icons_block{
    flex-basis: 474px;
    margin-top: 40px;
    padding-bottom: 20px
    /* width: 447px;
    margin-left: 178px;
    position: relative;
    bottom: 21px; */
}

.text_24_icons{
    font-family: YS_Text;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.05px;
    text-align: left;
    white-space: nowrap;
    padding-top: 14px;
}

.text_24_2{
    flex-basis: 900px;
    /* margin-left: 262px; */
    width: 438px;
    height: 38px;
    font-family: YS_Text;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 36px;  
}
.test{
 width: 960px;
 height: 1200px;
}
.pill{
   position: relative;
   bottom: 1557px;
   left: 763px;
}
.geo{
    position: relative;
    bottom: 1100px;
    right: 600px;
}
.coffe{
    position: relative;
    bottom: 1155px;
    left: 604px;
}
.text_container{
    width: 416px;
    gap: 20px;
}
.samokat{
    position: relative;
    bottom: 238px;
    right: 110px;
    width: 483px;
}