*,*:before,*:after {
    box-sizing: border-box;
}
@font-face {
    font-family: "YS_Text";
    font-style: normal;
    font-display: swap;
    src:url("https://yastatic.net/s3/home/fonts/ys/4/text-black.woff") format('woff');
    font-weight: 900;
}
@font-face {
    font-family: "YS_Text";
    font-style: normal;
    src:url("https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff") format('woff');
    font-weight: 500;
}
@font-face {
    font-family: "YS_Text";
    font-style: normal;
    src:url("https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff") format('woff');
    font-weight: 400;
}
body{
    background-color: #FFFFFF;
    font-family: "YS_Text", sans-serif;
    /* margin-left: 61.5px; */
    /* display: flex; */
}

.wrapper{
    max-width: 1940px;
    width: 100%;
    max-height: 1800px;
    display: flex;
    flex-basis: content;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;

}
.wrapper_2{
    float: left;
    max-width: 1440px;
    max-height: 700px;
    margin-left: 262px;
} 
.container1{
    width: 253px;
    justify-content: center;
    margin-left: 178px;
    position: relative;
    bottom: 21px;
}
.container2{

}
.logo{
    margin-top: 124.94px;
}
.text_72{
    font-family: YS_Text;
    font-weight: 900;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 62.12px;
    z-index: 1;
    width: fit-content;
    position: relative;
}
.text_56{
    font-family: YS_Text;
    font-size: 56px;
    font-weight: 900;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: left;
    
    /* white-space: nowrap; */
}
.text_24{
    font-family: YS_Text;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 29px;  
    white-space: nowrap;
    /* width: 145px; */
}

.price_499{
    /* position: relative;
    z-index: 1;
    top: 10px; */

}
.price_3190{
    /* position: relative;
    right: 47px;
    top: 10px; */
}
.prices{
    /* display: inline-block; */
}
.OG{
    position: relative;
    top: 45px;
    left: 26.8px;
}
.circle{
    position: absolute;
    z-index: 1;
    bottom: 320px;
}
.club_button{
    width:318px;
    height: 65px;
    padding: 24px, 48px, 24px, 48px;
    border-radius: 36px;
    background: #FFDE40;
    font-weight: 400;
    font-size: 24px;
    float: left;
    border: none;
    margin-top: 1px;
}
.icons_block{
    display: inline-block;
    width: 46.6vh;
    height: 240px;
    margin-top: 38px;
    float:left;
    /* Изменения в адаптивной версии */
}

.text_24_icons{
    font-family: YS_Text;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 17px;  
    white-space: nowrap;
}